name: Lint and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Python + Poetry Setup
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'poetry'

      - name: Install Poetry
        run: pipx install poetry

      - name: Install dependencies
        run: poetry install --no-interaction --sync


      # Run Linters and Type Checkers
      - name: Run Python linters (ruff + mypy)
        run: |
          poetry run ruff check .
          poetry run mypy --config-file pyproject.toml .

      # Run Python Tests
      - name: Run Python tests (pytest + coverage)
        run: |
          poetry run pytest --cov --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
